

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Tilt Neon', cursive;
}
button{
  cursor: pointer;
}
.App {
  max-width: 1920px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}



